.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    /* Container zentrieren */

}

.square {
    width: calc(100% /100);
    /* 16 Quadrate pro Zeile */
    aspect-ratio: 1 / 1;
    /* Quadratische Felder */
    border: 0px solid black;
    display: flex;
    background-color: black;
}

.user-square {
    width: calc(100% /100);
    /* 16 Quadrate pro Zeile */
    aspect-ratio: 1 / 1;
    /* Quadratische Felder */
    border: 0px solid rgb(209, 151, 151);
    display: flex;
    background-color: rgb(90, 165, 37);
}

.user-button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.user-button:hover {
    background-color: rgb(209, 151, 151);
}